<div class="flex min-h-full justify-center px-6 py-12 lg:px-8 ">
  <div class="sm:w-full sm:max-w-screen-sm sh-per pr-10 pl-10 pt-7 pb-3 rounded-xl mx-auto">
    <a routerLink="/home" class="justify-start flex"><i class="fa-solid fa-house fa-xl"></i></a>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-20 w-auto" src="/./assets/logo.png" alt="TurisTrazo">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crear Cuenta</h2>
    </div>
    <br><br>
    <form class="grid grid-cols-2 gap-6" [formGroup]="formRegister" (ngSubmit)="sendFormRegister()">
      <div class="col-span-2 sm:col-span-1">
        <div> <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre Completo</label>
          <input id="name" name="name" type="text" autocomplete="name" required formControlName="name"
            [ngClass]="{ 'ring-red-500': formRegister!.get('name')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('name')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div> <label for="id" class="block text-sm font-medium leading-6 text-gray-900">Número Identidad</label>
          <input id="id" name="id" type="text" autocomplete="off" required formControlName="id"
            [ngClass]="{ 'ring-red-500': formRegister!.get('id')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('id')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
          <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
            [ngClass]="{ 'ring-red-500': formRegister!.get('email')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('email')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
          <ng-container *ngIf="formRegister!.get('email')?.hasError('email') && formSend">
            <ng-container *ngTemplateOutlet="errorEmailMessage"></ng-container>
          </ng-container>
        </div>
        <br>
        <div>
          <div class="flex items-center" *ngIf="user.value === (guiaId.toString() || '' )">
            <input checked id="checked-checkbox" type="checkbox" formControlName="english"
              [ngClass]="{ 'border-red-500': formRegister!.get('english')?.invalid && formSend }"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-300 focus:ring-2 dark:bg-gray-300 dark:border-gray-300">
            <label for="checked-checkbox" class="ml-2 text-sm font-medium text-black dark:text-gray-900">Habla inglés
            </label>
          </div>
          <ng-container *ngIf="formRegister!.get('english')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <div>
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required
            formControlName="password"
            [ngClass]="{ 'ring-red-500': formRegister!.get('password')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('password')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div>
          <label for="cellPhone" class="block text-sm font-medium leading-6 text-gray-900">Celular</label>
          <input id="cellPhone" name="cellPhone" type="text" autocomplete="tel" required formControlName="cellPhone"
            [ngClass]="{ 'ring-red-500': formRegister!.get('cellPhone')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('cellPhone')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div>
          <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Tipo Usuario</label>
          <select id="user" name="tour" class="w-full border rounded-lg px-4 py-2" formControlName="user" #user
            (change)="changeUserType(user.value)"
            [ngClass]="{ 'ring-red-500': formRegister!.get('user')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option *ngFor="let userType of listUserType" [value]="userType.id">{{userType.tipoUsuario}}</option>
          </select>
          <ng-container *ngIf="formRegister!.get('user')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
      </div>

      <div class="col-span-2 sm:col-span-1 " *ngIf="user.value === (guiaId.toString() || '' )">
        <div>
          <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Ciudad Residencia</label>
          <input id="city" name="city" type="text" autocomplete="current-password" required formControlName="city"
            [ngClass]="{ 'ring-red-500': formRegister!.get('city')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('city')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div>
          <label for="neighborhood" class="block text-sm font-medium leading-6 text-gray-900">Barrio Residencia</label>
          <input id="neighborhood" name="neighborhood" type="text" autocomplete="current-password" required
            [ngClass]="{ 'ring-red-500': formRegister!.get('neighborhood')?.invalid && formSend }"
            formControlName="neighborhood"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <ng-container *ngIf="formRegister!.get('neighborhood')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
        <div>
          <label for="neighborhoodTour" class="block text-sm font-medium leading-6 text-gray-900">Barrio a Guiar</label>
          <select id="neighborhoodTour" name="neighborhoodTour" class="w-full border rounded-lg px-4 py-2"
            formControlName="neighborhoodTour"
            [ngClass]="{ 'ring-red-500': formRegister!.get('neighborhoodTour')?.invalid && formSend }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option *ngFor="let neighborhoodTour of listNeighborhood" [value]="neighborhoodTour.codigoPostal">
              {{neighborhoodTour.nombre}}</option>
          </select>
          <ng-container *ngIf="formRegister!.get('neighborhoodTour')?.hasError('required') && formSend">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-span-3">
        <button type="submit"
          class="w-full rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrarse</button>
      </div>


    </form>
    <p class="mt-10 text-center text-sm text-gray-900">
      Ya tienes una cuenta?
      <a routerLink="/auth/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Iniciar
        Sesión</a>
    </p>
  </div>
</div>
<ng-template #errorMessage>
  <div class="text-red-500 text-sm">Este campo es requerido.</div>
</ng-template>
<ng-template #errorEmailMessage>
  <div class="text-red-500 text-sm">Ingrese un correo válido</div>
</ng-template>