<div class="flex mt-10 justify-center container m-auto ">
    <div
        class="bg-white rounded-lg shadow-xl  md:p-2 lg:p-2 w-full md:w-full lg:w-full mx-auto mb-4 p-10 pl-20 shadow-slate-950 ">
        <div class="flex items-center mb-4">
            <!-- Icono de usuario (puedes reemplazar la imagen con una URL) -->
            <img class="w-12 h-12 rounded-full mr-4" src="https://via.placeholder.com/50" alt="Avatar" />

            <!-- Nombre de la persona que publicó la reseña -->
            <div>
                <p class="text-lg font-semibold">{{resena?.turista?.nombre}}</p>
                <p class="text-gray-600">5 minutes ago</p>
            </div>
        </div>

        <!-- Título de la reseña -->
        <h2 class="text-xl md:text-2xl font-semibold mb-2">{{resena?.titulo}}</h2>

        <!-- Calificación con estrellas (puedes personalizar el estilo) -->
        <div class="flex items-center mb-4">
            <div class="text-yellow-400">
                <!-- Cambia "3" por la calificación deseada (1-5) -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <!-- Estrella rellena si la calificación es mayor o igual a 1, de lo contrario, estrella vacía -->
                    <path
                        d="M10 2l1.646 5.074h5.304l-4.27 3.107 1.598 4.925L10 12.689l-4.278 3.417 1.598-4.925-4.27-3.107h5.304L10 2z" />
                </svg>
            </div>
            <!-- Repite el código de estrella según la calificación deseada -->
            <!-- Ejemplo: si la calificación es 4, repite el código de estrella 4 veces -->
        </div>

        <!-- Contenido de la reseña -->
        <p class="text-gray-700">{{resena?.descripcion}}</p>

        <!-- Imagen (opcional, muestra solo si tienes una URL de imagen) -->
        <div class="mt-4" *ngIf="imgagenUrl">
            <img class="w-1/2" src="https://via.placeholder.com/400x200" alt="Imagen de la reseña" />
        </div>
    </div>
</div>