img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 200px; /* Altura fija para las imágenes, puedes ajustar este valor según tus necesidades */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño especificado sin perder su proporción */
}