<div class="p-4">
    <article class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
        <a [routerLink]="'/sitio_interes/'+id">
            <div class="relative flex items-end overflow-hidden rounded-xl">
                <img [src]="imagen" alt="Hotel Photo" />
                <div
                    class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">

                    <button class="text-sm" (click)="details(id)">Ver detalles</button>
                </div>
            </div>

            <div class="mt-1 p-2">
                <h2 class="text-slate-700 font-bold text-2xl ">{{ titulo }}</h2>
                <div class="mt-3 flex items-end justify-between">
                    <div
                        class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">

                        <a [routerLink]="'/sitio_interes/'+id"> <button class="text-sm">Ver detalles</button></a>
                    </div>
                </div>
            </div>
        </a>
    </article>