<sitio-interes-shearch (terminoBusquedaEmitter)="filtrarSitios($event)"></sitio-interes-shearch>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">
    <div *ngFor="let item of sitiosFiltrados" style="height: 30rem;">
        <sitio-interes-card [imagen]="item.imagenData || '' " [titulo]="item.nombreSitio"
            [id]="item.id"></sitio-interes-card>
    </div>
</div>

<div *ngIf="!sitiosFiltrados.length" class="m-auto font-bold text-2xl text-center">
    No se encontraron resultados.
</div>