<!-- component -->
<!-- Create By Joker Banny -->

<body class="bg-white">

    <div class="mt-4  bg-white">
        <h1 class="text-center text-2xl font-bold text-gray-800">Tour </h1>
    </div>

    <!-- Product List -->
    <section class="py-10 bg-gray-100">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-4">
            <div *ngFor="let item of tourFiltrados">
                <tour-card [id]="item.id || 0" [imagen]="item.imagenData || '' " [sitio]="item.barrioMedellin?.nombre || '' "
                    [titulo]="item.nombre"></tour-card>
            </div>

        </div>
    </section>


</body>