<article class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
    <a [routerLink]="'/tour/'+id">
        <div class="relative flex items-end overflow-hidden rounded-xl">
            <img [src]="imagen" alt="Hotel Photo" />
          
        </div>

        <div class="mt-1 p-2">
            <h2 class="text-slate-700">{{titulo}}</h2>
            <p class="mt-1 text-sm text-slate-400">{{sitio}}</p>

            <div class="mt-3 flex items-end justify-between">

                <div
                    class="flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600">

                    <a [routerLink]="'/tour/'+id"> <button class="text-sm">Ver Detalle</button></a>
                </div>
            </div>
        </div>
    </a>
</article>