<div class="row mt-5 p-5">
    <button type="submit" (click)="toggleFormulario()" class=" dark:bg-gray-900 text-white font-semibold px-6 py-2 rounded-lg hover:bg-gray-700 transition
        duration-300">Agregar
        Reseña <i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
</div>

<div class="flex mt-10 justify-center container m-auto " *ngIf="showFormResena">
    <div
        class="bg-white rounded-lg shadow-xl  md:p-2 lg:p-2 w-full md:w-full lg:w-full mx-auto mb-4 p-10 pl-20 shadow-gray-900">
        <h1 class="text-2xl md:text-2x1 font-semibold text-center mb-6">Escribe tu reseña</h1>

        <form [formGroup]="formResena" (ngSubmit)="sendForm()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Columna 1 -->
                <div>

                    <div class="mb-4">
                        <label for="titulo" class="block text-gray-700 font-semibold mb-2">Título</label>
                        <input type="text" id="titulo" name="titulo" class="w-full border rounded-lg px-4 py-2"
                            formControlName="titulo"
                            [ngClass]="{ 'border-red-500': formResena!.get('titulo')?.invalid  && formSend }" />
                        <ng-container *ngIf="formResena!.get('titulo')?.invalid && formSend">
                            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
                        </ng-container>
                    </div>
                    <div class="mb-4">
                        <label for="tour" class="block text-gray-700 font-semibold mb-2">Tour</label>
                        <select id="tour" name="tour" class="w-full border rounded-lg px-4 py-2" formControlName="tour"
                            [ngClass]="{ 'border-red-500': formResena!.get('tour')?.invalid  && formSend }">
                            <option *ngFor="let tour of listTour" [value]="tour.id">{{tour.nombre}}</option>
                        </select>
                        <ng-container *ngIf="formResena!.get('tour')?.invalid && formSend">
                            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
                        </ng-container>
                    </div>
                </div>

                <div>

                    <div class="mb-4">
                        <label for="descripcion" class="block text-gray-700 font-semibold mb-2">Descripción</label>
                        <textarea id="descripcion" name="descripcion" formControlName="descripcion"
                            class="w-full border h-10 rounded-lg px-4 py-2"
                            [ngClass]="{ 'border-red-500': formResena!.get('descripcion')?.invalid  && formSend }">
                            ></textarea>
                        <ng-container *ngIf="formResena!.get('descripcion')?.invalid && formSend">
                            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
                        </ng-container>
                    </div>

                    <div class="space-y-2">
                        <label class="block text-gray-700">Selecciona un número de estrellas:</label>
                        <div class="flex items-center space-x-2">
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                <input type="radio" class="sr-only" [id]="'star-' + star"
                                    formControlName="selectedRating" [value]="star" name="selectedRating">
                                <label [for]="'star-' + star" class="text-2xl cursor-pointer"
                                    [ngClass]="{'text-yellow-400': star <= (formResena!.get('selectedRating')!.value || 0), 'text-gray-300': star > (formResena!.get('selectedRating')!.value || 0)}">
                                    &#9733;
                                </label>
                            </ng-container>
                        </div>

                        <p class="text-gray-700">Calificación seleccionada:
                            {{ formResena!.get('selectedRating')?.value || 0 }}
                        </p>
                        <ng-container *ngIf="formResena!.get('selectedRating')?.invalid && formSend">
                            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
                        </ng-container>
                    </div>



                </div>

            </div>

            <!-- Botón de agregar reseña -->
            <div class="mt-6">
                <button type="submit"
                    class=" dark:bg-gray-900 text-white font-semibold px-6 py-2 rounded-lg hover:dark:bg-gray-700 transition duration-300">Agregar
                    Reseña</button>
            </div>
        </form>
    </div>
</div>
<ng-template #errorMessage>
    <div class="text-red-500 text-sm">Este campo es requerido.</div>
</ng-template>